body{
    background-color: rgb(128, 117, 255);
    font-family: verdana;
    margin: 0px;
}

.pageHeading{
    text-align: center;
    background-color: rgb(99, 32, 238);
    color: rgb(248, 240, 251);
    width: auto;
    margin: 0px;
}

.pageContent{
    margin: 8px;
    border: 1px solid black;
    padding: 8px;
    background-color: rgb(248, 240, 251);
    overflow: scroll;
}

legend{
    font-size: 20px;
    font-weight: bold;
}

.flexContainer{
    display: flex;
    flex-flow: row wrap;
}

.subFlexContainer{
    display: flex;
    flex-flow: row wrap;
}

.subSubFlexContainer{
    display: flex;
    flex-flow: row wrap;
}

.addressContainer{
    display: flex;
    flex-flow: row wrap;
}

.addressSubContainer{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
}

@media screen and (max-width: 684px){
    #names{
        flex-wrap: column wrap;
    }
    #name{
        flex-flow: column wrap;
    }
}

.labelInputPair{
    margin: 12px;
}

.labelInputPair>span{
    display: block;
}

label{
    font-size: 1.15em;
}

.requiredLabel::after{
    content: "*";
    color: red;
}

input:focus{
    background-color: rgb(128, 117, 255);
    color: white;
}

@media screen and (max-width: 748px){
    .addressContainer{
        flex-flow: column wrap;
    }
    .addressSubContainer{
        width: 100%;
    }
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: auto;
    background-color: rgb(248, 240, 251);
    transition-duration: 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(99, 32, 238);
    color: rgb(248, 240, 251);
}

#presentAddress{
    margin-top: 18px;
}

.gridContainer{
    display: grid;
    width: 100%;
}

fieldset{
    margin: 10px;
}

#note{
    color: rgb(248, 240, 251);
    margin-left: 10px;
}

#redAsteriskInNote{
    color: red;
}

#checkboxLabel{
    font-size: 16px;
}